@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-black: #0c0c0c;
    --color-white: #ffffff;
    --color-primary-25: #f0f2ef;
    --color-primary-50: #d1d9cf;
    --color-primary-100: #b2bfaf;
    --color-primary-200: #a2b39f;
    --color-primary-300: #93a690;
    --color-primary-400: #839980;
    --color-primary: #748c70;
    --color-primary-600: #5a6d57;
    --color-primary-700: #404e3e;
    --color-primary-750: #343e32;
    --color-primary-800: #272f25;
    --color-primary-900: #0d100c;
    /* neutral */
    --color-neutral-1: #f9f9f9;
    --color-neutral-2: #ededed;
    --color-neutral-3: #dfdfdf;
    --color-neutral-4: #cbcbcb;
    --color-neutral-5: #adadad;
    --color-neutral-6: #868686;
    --color-neutral-7: #606060;
    --color-neutral-8: #404040;
    --color-neutral-9: #202020;
    /* state colors */
    --color-success-bg: #f3fdfa;
    --color-success-light: #00ba88;
    --color-success: #00966d;
    --color-warning-light: #e09126;
    --color-warning: #e09126;
    --color-error-bg: #fff2f2;
    --color-error-light: #ed2e2e;
    --color-error: #c30000;
  }
}

:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  direction: ltr;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-primary);
  background: var(--color-primary-900);
}

::selection {
  color: var(--color-primary);
  background: var(--color-primary-900);
}

/* set toast style */
.go3958317564 {
  white-space: nowrap!important;
}
